*{
    padding: 0;
    margin: 0;
}
.main{
    background-image: url("bg.jpg");
    height: 90vh;
    width: 100vw;
    position: relative;
}
.main .box{
    height: 90vh;
    width: 100vw;
    opacity: 0.7;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
button{
    background-color: red;
    color: white;
    border: solid red 2px;
    border-radius: 4px;
    width: 80px;
    height: 35px;
    font-size: medium;
    position: relative;
    z-index: 10;
    
}
.btn{
    margin-top: 30px;
    margin-left: 500px;
    
}
span{
    margin-top: 20px;
    margin-right: 40px;
    position: relative;
    z-index: 10;
}

.container{
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    position: relative;
    z-index: 10;
    font-family: sans-serif;
    font-size:20px;
    
}
.cont1{
     font-family: sans-serif;
    font-weight: 900;
    font-size:50px;
}
.incont1{
    margin-left: 60px;
}
.cont2{
    font-weight: bold;
}
.cont3{
    margin-top: 40px;
}
.mail{
    margin-left: 25%;
    margin-top: 1%;
    position: relative;
    z-index: 10;
}
.mailb{
    border: 2px solid white;
    width: 400px;
    height: 60px;
   background-color: black;
   opacity: 0.5;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-weight: normal;
    
}
